#speedo {
	position: relative;
	height: 100px;
	width: 200px;
	overflow: hidden;
}

#dial {
	position: absolute;
	top: 0;
	left: 0;
}

#indicator {
	position: absolute;
	top: 0;
	left: 0;
}

#speed {
	position: absolute;
	bottom: 0;
	left: 80px;
	font-weight: bold;
	-webkit-transition: background-color 1s ease-out;
}

.speed {
	-webkit-animation-name: highlight;
	-webkit-animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
}

.minutes_flash {
	-webkit-animation-name: mins_highlight;
	-webkit-animation-duration: 200ms;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes mins_highlight {
	10% {
		background-color: #ff7ec5;
	}
	
	100% {
		background-color: #fff;
	}
}

@-webkit-keyframes highlight {
	10% {
		background-color: #ff7ec5;
	}
	
	100% {
		background-color: transparent;
	}
}

.null {
	-webkit-transform: rotate(0deg);
}


.slow {
	-webkit-animation-name: slow;
	-webkit-transform: rotate(33deg);
          -webkit-animation-duration: 4s;
          -webkit-animation-iteration-count: 1;

}

@-webkit-keyframes slow {
	
	0% {
		-webkit-transform: rotate(0deg);				
	}

	100% {
		-webkit-transform: rotate(33deg);				
	}
	
}

.fast {
	-webkit-animation-name: fast;
	-webkit-transform: rotate(78deg);
	
}


#graticulations {
	position: absolute;
	top: 0;
	left: 0;
}
